## If statements

In [ ]:
x=-5
if x>0:
    print(x)
    print("Hi Buddy!")
print("Out of if statement")

In [ ]:
x=5
if x%2==0:
    print(x," is even")
else:
    print(x," is odd")
print("Finally I got it predicted as an EVEN or ODD Number")

In [ ]:
# 1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, FizzBuzz, 16

for n in range(1, 101):
    if n % 15 == 0:
        print('FizzBuzz')
    else:
        if n % 3 == 0:
            print('Fizz')
        else:
            if n % 5 == 0:
                print('Buzz')
            else:
                print(n)

### Elif statements

In [ ]:
x=['banana','mango','apple']
y=['cat','dog','goat']
z=input('Enter the name of fruit or pet here: ').lower()

if z in x:
    print(z,'is a fruit')

if z in y:
    print(z,'is a pet')
else:
    print('Enter valid name')

In [ ]:
x=['banana','mango','apple']
y=['cat','dog','goat']
z=input('Enter the name of fruit or pet here: ')
z1=z.lower()
if z1 in x:
    print(z.capitalize(),'is a fruit')

elif z1 in y:
    print(z.capitalize(),'is a pet')
else:
    print('Enter valid name')

In [ ]:
for n in range(1, 101):
    if n % 15 == 0:
        print('FizzBuzz')
    elif n % 3 == 0:
        print('Fizz')
    elif n % 5 == 0:
        print('Buzz')
    else:
        print(n)

### Single Line if statements

In [ ]:
n = 5
print('Fizz' if n % 3 == 0 else n)

5

In [ ]:
fizzBuzz = 'Fizz' if n % 3 == 0 else n

In [ ]:
'Fizz' if n % 3 == 0 else 'Buzz' if n % 5 == 0 else n

'Buzz'

In [ ]:
'FizzBuzz' if n % 15 == 0 else 'Fizz' if n % 3 == 0 else 'Buzz' if n % 5 == 0 else n

'Buzz'

for loop

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for x in days:
    print(x)

In [ ]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

NameError: ignored

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [ ]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

In [ ]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

While loop

In [ ]:
i=0
while i<6:
    print(1)
    i=i+1

In [ ]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)